<!-- START - Collapsible -->
<div class="collapsible collapsible--expanded">
  <!-- Header containing the header text & icon -->
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Header</h2>
    <!-- START - Icon - Chevron -->
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
    <!-- END - Icon - Chevron -->
  </header>

  <!-- Content within the collapsible container -->
  <div class="collapsible__content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis,
      architecto!
    </p>
  </div>
</div>
<!-- END - Collapsible -->

<!-- START - Collapsible -->
<div class="collapsible collapsible--expanded">
  <!-- Header containing the header text & icon -->
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Header</h2>
    <!-- START - Icon - Chevron -->
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
    <!-- END - Icon - Chevron -->
  </header>

  <!-- Content within the collapsible container -->
  <div class="collapsible__content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis,
      architecto!
    </p>
  </div>
</div>
<!-- END - Collapsible -->

<!-- START - Collapsible -->
<div class="collapsible collapsible--expanded">
  <!-- Header containing the header text & icon -->
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Header</h2>
    <!-- START - Icon - Chevron -->
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
    <!-- END - Icon - Chevron -->
  </header>

  <!-- Content within the collapsible container -->
  <div class="collapsible__content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis,
      architecto!
    </p>
  </div>
</div>
<!-- END - Collapsible -->

<!-- START - Collapsible -->
<div class="collapsible collapsible--expanded">
  <!-- Header containing the header text & icon -->
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Header</h2>
    <!-- START - Icon - Chevron -->
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
    <!-- END - Icon - Chevron -->
  </header>

  <!-- Content within the collapsible container -->
  <div class="collapsible__content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis,
      architecto!
    </p>
  </div>
</div>
<!-- END - Collapsible -->
